:root {
  --verde: #00A149;
  --blanco: #fff;
  --rojo: #881014;
  --oscuro: #000;
  --titulos: 'Arima Madurai', cursive;
  --parrafos: 'Mulish', sans-serif;
}

html {
  box-sizing: border-box;
  /* 1rem son 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

*,*::after, *::before {
  box-sizing: inherit;
}

/* Globales */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

h1,h2 {
  font-family: var(--titulos);
}

h3,p,a {
  font-family: var(--parrafos);
}

img {
  max-width: 100%;
}

.verde {
  color: var(--verde);
}

.rojo {
  color: var(--rojo);
}

.ocultar {
  display: none;
}

.btn-cerrar {
  font-size: 3rem;
  font-weight: bold;
  color: var(--blanco);
  position: absolute;
  top: 0;
  right: 50px;
  user-select: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.botones-lenguajes {
  background-color: var(--verde);
  border: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: var(--parrafos);
  cursor: pointer;
  text-align: center;
}

.btn-proyectos {
  justify-content: center;
  align-items: center;
}

.btn-lenguaje {
  background-color: orange;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .btn {
      font-size: 2.2rem;
  }
}

.bordes {
  border: 3px solid var(--blanco);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .bordes {
      border: 4px solid var(--blanco);
  }
}

.bordes:hover {
  color: var(--verde);
  background-color: var(--blanco);
}

.btn-rojo {
  background-color: var(--rojo);
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pantalla-completa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

@keyframes desplazamiento {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(0);
  }
}

.btn-cerrar:hover {
  cursor: pointer;
}

.btn-verde {
  background-color: var(--verde);
  border: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: var(--parrafos);
  cursor: pointer;
  text-align: center;
}

.btn-verde:hover {
  background-color: var(--rojo);
}

/* Encabezado */
.contenedor-navegacion{
  background-color: var(--oscuro);
  position: relative;
  z-index: 5;
}

.contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  text-decoration: none;
}

.logo h2, .navegacion a {
  color: var(--blanco);
}

.logo h2 {
  font-size: 3rem;
}

.navegacion a {
  text-decoration: none;
  font-size: 2.2rem;
  padding: 1.5rem;
  padding-left: 4rem;
  display: block;
  transition: color .3s ease-in-out;
  text-align: center;
}

@media (min-width: 768px) {
  .navegacion a {
      text-align: left;
  }
}

.navegacion a:nth-child(even):hover {
  color: var(--rojo);
}

.navegacion a:nth-child(odd):hover {
  color: var(--verde);
}

.navegacion a:first-of-type {
  margin-top: 5rem;
}

.navegacion {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 35rem;
  padding: 3rem 4rem;
  background-color: var(--oscuro);
  animation: desplazamiento .5s ease-in-out;
}

.hamburguesa:hover {
  cursor: pointer;
}

.hamburguesa span {
  display: block;
  background-color: var(--blanco);
  width: 5rem;
  height: .5rem;
  margin-bottom: .5rem;
}

/* Sobre mi*/

.programador {
  background-color: var(--oscuro);
  margin-top: 2rem;
}

.programador h2 {
  background-color: var(--rojo);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 4rem;
}

.contenido-programador {
  padding: 0rem 5rem 5rem 5rem;
}

@media (min-width: 768px) {
  .contenido-programador {
      display: flex;
      justify-content: space-between;
  }
}

.texto-programador, .imagen-programador {
  flex-grow: 0 0 calc(50% - 1rem);
}

.texto-programador h3 {
  font-size: 3rem;
  color: var(--blanco);
}

.texto-programador p {
  font-size: 2rem;
  color: var(--blanco);
}

/* Lenguajes */

.lenguajes h1 {
  background-color: var(--rojo);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 4rem;
}

.lenguajes-contenido {
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
  flex: 0 0 calc(33.3% - 1rem);
}

.lenguajes-tarjeta {
  border: 1px solid #e1e1e1;
  padding: 2rem;
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .lenguajes-contenido {
    display: flex;
    justify-content: space-between;
  }
  
  .lenguajes-tarjeta {
    border: 1px solid #e1e1e1;
    padding: 2rem;
    width: 30rem;
  }
}


/* Experiencia */

.experiencia h1 {
  background-color: var(--rojo);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 4rem;
}

.contenido-experiencia {
  border: 1px solid #e1e1e1;
  padding: 2rem;
  margin-bottom: 1rem;
  color: var(--blanco);
  background-color: var(--oscuro);
}

.experiencia-trabajo h2 {
  background-color: var(--verde);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 2.5rem;
}


/* Contacto */

.contacto h1 {
  background-color: var(--rojo);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 4rem;
}

.contacto-contenido {
  border: 1px solid #e1e1e1;
  padding: 2rem;
  margin-bottom: 1rem;
}


/* footer */

.footer {
  text-align: center;
  background-color: var(--oscuro);
  color: var(--blanco);
  padding: 2rem;
  font-size: 2rem;
}


/* Filtro de lenguajes */

.texto-proyectos {
  text-align: center;
  font-size: 5rem;
}

.botones-lenguajes button{
  background-color: var(--verde);
}

.botones-lenguajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.botones-lenguajes button{
  flex: 0 0 calc(50% - 1rem);
  padding: 1rem 3rem;
}

@media (min-width: 768px) {
  .botones-lenguajes {
      display: inline-block;
  }

  .botones-lenguajes button {
      flex: unset;
      width: 100%;
        box-sizing: border-box; /* Para incluir el padding y el borde en el tamaño total del botón */
        padding: 12px 20px;
        font-size: 14px;
  }
}

@media (min-width: 768px) {
  .proyectos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
}

.proyecto {
  flex: 0 0 calc(33.3% - 1rem);
  border: 1px solid #e1e1e1;
  padding: 2rem;
  border-radius: 5px;
}

.proyecto h2 {
  text-align: center;
}

.proyecto p {
  font-size: 1.8rem;
}

.precio {
  display: flex;
  justify-content: space-around;
}

.precio p {
  font-weight: bold;
  font-size: 2rem;
}

.precio button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--rojo);
  color: var(--blanco);
  height: 3.8rem;
}